.footersocial__list {
  display: flex;
  justify-content: center;
}

.footersocial {
  margin-left: 0px;
  padding-top: 12px;
  padding-left: 0;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 50%;
    padding-top: 0;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
    padding-top: 12px;
    padding-left: 70px;
    text-align: left;
  }
}

.footersocial__title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
  @media screen and (min-width: 768px) {
    margin-top: initial;
  }
}

.footersocial__item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}

.footerlink-telegram {
  margin-right: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color-text-color);
  fill: #757575;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    color: var(--accent-text-color);
  }
}

.footerlink-whatsapp {
  margin-right: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color-text-color);
  fill: #757575;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #25D366;
    color: #25D366;
  }
}

.footerlink-viber {
  margin-right: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color-text-color);
  fill: #757575;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #7360F2;
    color: #7360F2;
  }
}

.footerlink-gmail {
  margin-right: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color-text-color);
  fill: #757575;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #DB4437;
    color: #DB4437;
  }
}

.footersocial__icon {
  fill: var(--text-color);
}
