.hero__box {
  display: flex;
  justify-content: flex-start;
}

.hero__title{
  margin-top: 197px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  color: var(--text-color);
  letter-spacing: 0.06em;
  text-align: left;
}

.hero__title2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.6;
  color: var(--text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: left;
  @media screen and (min-width: 1200px) {
    width: auto;
    margin-top: 103px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__list {
  display: flex;
  margin-bottom: 102px;
}

.hero__item {
 margin-right: 25px;
&:hover,
  &:focus {
    width: 57px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(254, 254, 254, 0.497);
  }
}

.hero__button {
  align-items: center;
  width: 296px;
  height: 76px;
  border: 2px solid #27A3EC;
  border-radius: 100px;
  padding: 10px 32px;
  margin-bottom: 0;
 
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  line-height: 30px;
  background-color: transparent;
  color: var(--text-color);
  letter-spacing: 0.06em;
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--background-text-color);
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.button__arrow {
  margin-left: 30px;
}

.hero__line {
  position: relative;
  top:138px;
  left:-515px;
}

.hero__mouse {
  position: relative;
  top: 104px;
  left: 333px;
}